<table>
  <thead>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>composer</th>
    <th>ms</th>
    <th>bytes</th>
    <th>unitPrice</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let entity of entities | keyvalue">
    <td>{{ entity.key }}</td>
    <td>{{ entity.value.name }}</td>
    <td>{{ entity.value.composer }}</td>
    <td>{{ entity.value.ms }}</td>
    <td>{{ entity.value.bytes }}</td>
    <td>{{ entity.value.unitPrice }}</td>
    <td>
      <button *ngIf="(appState.state$ | ngrxPush).loggedIn" (click)="entityRemoved.emit(entity.key)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
