<ng-container *ngIf="viewModel.state$ | ngrxPush as viewState">
  <h1>{{ viewState.title }}</h1>
  <p [style.color]="viewState.loading ? 'orange' : 'green'" style="font-weight: bold;">Loading:
    {{ viewState.loading ? 'LOADING' : 'idle' }}</p>
  <button (click)="viewModel.reload.next()">Refresh</button>
  <es-demo01child
    (entityRemoved)="viewModel.removeEntity.next($event)"
    (entitySwitched)="viewModel.entitySwitched.next($event)"
    [loading]="viewState.loading"
    [entities]="viewState.entities"></es-demo01child>
</ng-container>
